<div class="contenedor-detalle">
    <div class="imagen">
      <img src="{{detalleDelProducto.image}}" alt="">
    </div>
    <div class="descripcion">
      <h2>{{detalleDelProducto.title}}</h2>
      <p><s>Precio de venta recomendado: $1785</s></p>
      <p><strong>¡Ahora a la venta por solo ${{detalleDelProducto.price}}</strong></p>
      <p><span>Calificación de nuestros consumidores: </span> <strong>{{detalleDelProducto.rating.rate}}/5</strong></p>
      <p>{{detalleDelProducto.description}}</p>
      <button>AÑADIR AL CARRITO</button>
    </div>
   </div>
   